  <div class="col-sm">
                <div class="card">
                    <div class="card-header row">
                        <p class="col-6">
                            {{title}}
                        </p>
                        <p class="col">
                            {{status}}
                        </p>
                        <p class="col">
                            {{creation.day}}/{{creation.month}}/{{creation.year}}
                        </p>
                    </div>
                    <div class="card-body">
                        <p>
                            {{description}}
                        </p>
                    </div>
                </div>
            </div>